<div id="sidebar-wrap" ng-controller="NavCtrl">
  <uib-accordion close-others="oneAtTime">   
      <ul id="navigation" nav-collapse ripple ng-repeat="item in menuItems" >
        <li ui-sref-active="{{item.status}}" ng-show= "item.submenu" ng-class="{'open':$state.includes({{item.sref}})}">
            <a ui-sref="{{item.sref}}"><fa name="{{item.icon}}"></fa> <span>{{item.text | translate}}</span></a>
                <ul ng-if="item.submenu !=''">
                    <li ui-sref-active="{{item.submenu.status}}" ng-repeat="sub in item.submenu">
                        <a ui-sref="{{sub.sref}}"><fa name="caret-right"></fa> {{sub.text | translate}}</a>
                    </li>
                </ul>
        </li>
        <li ui-sref-active="{{item.status}}" ng-show = "!item.submenu">
            <a ui-sref="{{item.sref}}"><fa name="{{item.icon}}"></fa> <span>{{item.text | translate}}</span></a>
        </li>
      </ul>
  </uib-accordion>
</div>
